<div  *ngIf="teamprofile" class="teamprofilepage">
    <div class="container">
        <div class="row" >
            <div class="col-md-4 col-sm-12">
            <div>
                <img class="team-profile-img-top team-img" *ngIf="teamprofile.img" src="{{'assets/teamimg/'+ teamprofile.img}}"  alt="">
            </div>
            </div>
            <div class="col-md-8 col-sm-12 team-text">
                <div>
                    <h1 class="teamtypetitle">{{teamprofile.fullname}}</h1>
                    <h5>{{teamprofile.title}}</h5>
                    <p>{{teamprofile.description}}.</p>
                </div>
            </div>
            
        </div>
    </div>
</div>
