    <div class="container mt-5 pt-5 pb-3" >
        <div class="d-flex flex-column text-center mb-5" *ngIf="book">
            <h4 class="text-secondary mb-3">{{book.maintitle}}</h4>
            <h1 class="display-4 m-0"> <span class="text-primary">{{book.title}}</span></h1>
        </div>
        <div class="voicewidth">
          <!-- <input class="form-control" type="text" /> -->
          <label> Audio Voice:</label>
          <select
            class="form-control"
            *ngIf="voices"
            (change)="onChange($event.target.value)">
            <option
              [selected]="selectedIndex === i"
              *ngFor="let v of voices; let i = index"
              [value]="i">
              {{ v.name }} ({{ v.lang }})
            </option>
          </select>
    
          <button class="btn btn-primary" (click)="updateVoice()">
            Update
          </button>
        </div>
        <!-- <div class="col book-img-div">
            <img class="book-img " src="{{'../../../../assets/books/'+ book.bookimagesfoldername + '/' + currentbookimage}}" alt="">
        </div> -->
        <div class="row book-sectionsize">

          <div class="row">
            <ngb-carousel class="" #ngcarousel showNavigationArrows="true">
                <ng-template ngbSlide class="carouselCont" *ngFor="let image of book?.pagesimages; let i = index" >
                  <div>
                    <img class="book-image" src="{{'../../../../assets/books/'+ book.bookimagesfoldername + '/' + image}}" alt="{{book.title}}">
                    <div style="width: 100%; height: 100%; position: absolute; top: 0; left: 0"></div>
                  </div>
                  <div class="carousel-caption">
                    <!-- <h3>Listen</h3> -->
                    <button *ngIf="!IsSpeaking" (click)="playaudio(i)">Play Audio</button>
                    <button *ngIf="IsSpeaking && !IsPaused" (click)="pauseaudio()">pause Audio</button>
                    <button *ngIf="IsPaused" (click)="resumeaudio()">resume Audio</button>
                    <button *ngIf="IsSpeaking" (click)="stopaudio()">Stop Audio</button>
                  </div>
                </ng-template>
            </ngb-carousel>
          </div>
          <!-- <div class="row justify-content-center">
            <button type="button" class="btn btn-sm btn-next book-btn" (click)="nextStep()">Next</button>
          </div>
          <div class="row justify-content-center">
            <button type="button" class="btn btn-sm btn-prevous m-r book-btn" (click)="previousStep()">Previous</button>
          </div> -->
        </div>
    </div>