    <div class="container mt-5 pt-5 pb-3" >
        <div class="d-flex flex-column text-center mb-5" *ngIf="book">
            <h4 class="text-secondary mb-3">{{book.maintitle}}</h4>
            <h1 class="display-4 m-0"> <span class="text-primary">{{book.title}}</span></h1>
        </div>

        <!-- <div class="col book-img-div">
            <img class="book-img " src="{{'../../../../assets/books/'+ book.bookimagesfoldername + '/' + currentbookimage}}" alt="">
        </div> -->
        <div lass="row">
        <ngb-carousel #ngcarousel>
            <ng-template ngbSlide class="carouselCont" *ngFor="let image of book?.pagesimages; let i = index" >
              <img src="{{'../../../../assets/books/'+ book.bookimagesfoldername + '/' + image}}" alt="{{book.title}}">
              <div class="carousel-caption">
                <!-- <h3>Listen</h3> -->
                <button (click)="playaudio(i)">Play Audio</button>
              </div>
            </ng-template>
          </ngb-carousel>
        </div>
          <div class="row justify-content-center">
            <!-- <button type="button" class="btn btn-sm btn-primary m-r" *ngIf="!isNext" (click)="skip()">Skip</button> -->
            <button type="button" class="btn btn-sm btn-prevous m-r book-prevous-btn" *ngIf="isNext" (click)="previousStep()">Previous</button>
            <button type="button" class="btn btn-sm btn-next book-next-btn" (click)="nextStep()">Next</button>
        </div>
    </div>