// .book-img-div{

//     width: 100%;
// }
// .book-img{

// }


// carousel
// ngb-carousel .wrapper {
//     position: relative;
//     height: 0;
//     padding-top: 55%; /* Keep ratio for 900x500 images */
//   }
  
//   ngb-carousel .wrapper>img {
//     position: absolute;
//     top: 0;
//     left: 0;
//     bottom: 0;
//     right: 0;
//   }

  .carouselCont{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    height:100vh;
}


     /* Media Query for Mobile Devices */
     @media (max-width: 480px) {
      .book-btn{
        width:93%;
      }
      .book-sectionsize{
        padding-left:30px;
        width: 350px;
      }
      .book-image{
        width: 100%;
      }
      .voicewidth{
        width: 300px;
      }
  }
    
  /* Media Query for low resolution  Tablets, Ipads */
  @media (min-width: 481px) and (max-width: 767px) {
    .book-btn{
      width:95%;
      // margin-left: -148px;
    }
    .book-sectionsize{
      padding-left:30px;
      width: 450px;
    }
    .book-image{
      width: 100%;
    }
    .voicewidth{
      width: 300px;
    }
  }
    
  /* Media Query for Tablets Ipads portrait mode */
  @media (min-width: 768px) and (max-width: 1024px){
    .book-btn{
      // width: 758px;
      width:97%;
      // margin-left: -148px;
    }
    .book-sectionsize{
      padding-left:30px;
      width: 780px;
    }
    .book-image{
      width: 100%;
    }
    .voicewidth{
      width: 300px;
    }
 }
    
  /* Media Query for Laptops and Desktops */
  @media (min-width: 1025px) {
    .book-btn{
      // width: 1003px;
      // margin-left: -85p;
      // margin-left:5px;
      // margin-right:5px;
      width:98%;
    }
    .book-sectionsize{
      width: 1025px;
    }
    .book-image{
      width: 100%;
    }
    .voicewidth{
      width: 300px;
      margin: 0 auto;
  }
  }
// .btn-success, .btn-success:hover, .btn-success:active, .btn-success:visited {
//   color:white !important;
//   background-color: black !important;
// }
.btn-next {
    color: #fff;
    background-color: black;
    border-color: black; }
    .btn-next:hover {
      color: #fff;
      background-color: gray;
      border-color: gray; }
    .btn-next:focus, .btn-next.focus {
      -webkit-box-shadow: 0 0 0 0.2rem rgba(38, 39, 38, 0.5);
      box-shadow: 0 0 0 0.2rem rgba(64, 65, 64, 0.5); }
    .btn-next.disabled, .btn-next:disabled {
      color: #fff;
      background-color: black;
      border-color: black; }
    .btn-next:not(:disabled):not(.disabled):active, .btn-next:not(:disabled):not(.disabled).active,
    .show > .btn-next.dropdown-toggle {
      color: #fff;
      background-color: gray;
      border-color: gray; }
      .btn-next:not(:disabled):not(.disabled):active:focus, .btn-next:not(:disabled):not(.disabled).active:focus,
      .show > .btn-next.dropdown-toggle:focus {
        -webkit-box-shadow: 0 0 0 0.2rem rgba(51, 53, 51, 0.5);
        box-shadow: 0 0 0 0.2rem rgba(64, 65, 64, 0.5); }

.btn-prevous {
  color: black;
  background-color: #f1bc31;
  border-color: #f1bc31; }
  .btn-prevous:hover {
    color: black;
    background-color: #be9429;
    border-color: #be9429; }
  .btn-prevous:focus, .btn-prevous.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(108, 143, 26, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(108, 143, 26, 0.5); }
  .btn-prevous.disabled, .btn-prevous:disabled {
    color: black;
    background-color: #be9429;
    border-color: #be9429; }
  .btn-prevous:not(:disabled):not(.disabled):active, .btn-prevous:not(:disabled):not(.disabled).active,
  .show > .btn-prevous.dropdown-toggle {
    color: black;
    background-color: #be9429;
    border-color: #be9429; }
    .btn-prevous:not(:disabled):not(.disabled):active:focus, .btn-prevous:not(:disabled):not(.disabled).active:focus,
    .show > .btn-prevous.dropdown-toggle:focus {
      -webkit-box-shadow: 0 0 0 0.2rem rgba(108, 143, 26, 0.5);
      box-shadow: 0 0 0 0.2rem rgba(108, 143, 26, 0.5); }