<section >
  <div class="container">
    <div class="row justify-content-between">
      <div class="col">
        <a class="navbar-brand" [routerLink]="['/home']">
          <div class="logo-image">
            <img src="../../../assets/OurMathWorld.png" class="img-fluid">
          </div>
        </a>
      </div>
      <!-- <div class="col d-flex justify-content-end">
        <div class="social-media">
          <p class="mb-0 d-flex">
            <a href="#" class="d-flex align-items-center justify-content-center"><span class="fab fa-facebook"> <fa-icon [icon]="['fab', 'facebook']"></fa-icon></span></a>
            <a href="#" class="d-flex align-items-center justify-content-center"><span class="fab fa-twitter"><fa-icon [icon]="['fab', 'twitter']"></fa-icon></span></a>
            <a href="#" class="d-flex align-items-center justify-content-center"><span class="fab fa-instagram"><fa-icon [icon]="['fab', 'instagram']"></fa-icon></span></a>
          </p>
        </div>
      </div> -->
    </div>
  </div>
  <nav class="navbar navbar-expand-md navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <!-- <a class="navbar-brand" href="#">Angular</a> -->
    <div class="container">
      <button class="navbar-toggler hidden-sm-up" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" [routerLinkActive]="['active']"><a [routerLink]="['/home']" class="nav-link">Home</a></li>
        <li class="nav-item"  [routerLinkActive]="['active']"><a [routerLink]="['/books']" class="nav-link">Books</a></li>
        <li class="nav-item"  [routerLinkActive]="['active']" ><a [routerLink]="['/bios']"class="nav-link">Math Hero Bios</a></li>
        <li class="nav-item"  [routerLinkActive]="['active']" ><a [routerLink]="['/team']" class="nav-link">Meet the Team</a></li>
      </ul>
    </div>
  </div>
  </nav>
  <!-- <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <button class="navbar-toggler navbar-toggler-right" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>

    <div class="navbar-collapse" [class.collapse]="isNavbarCollapsed" (window:resize)="isNavbarCollapsed = true">
        <ul class="nav navbar-nav">
          <li class="nav-item" [routerLinkActive]="['active']"><a [routerLink]="['/home']" class="nav-link">Home</a></li>
          <li class="nav-item"  [routerLinkActive]="['active']"><a [routerLink]="['/books']" class="nav-link">World Books</a></li>
          <li class="nav-item"  [routerLinkActive]="['active']" ><a [routerLink]="['/bios']"class="nav-link">Math Doer Bios</a></li>
          <li class="nav-item"  [routerLinkActive]="['active']" ><a [routerLink]="['/team']" class="nav-link">World Team</a></li>
        </ul>
      </div>
    </div>
  </nav> -->
  <!-- END nav -->

</section>