<div class="bordergroup">
    <h1 class="teamtypetitle">{{teamTypeName}}</h1>
    <div class="row" *ngIf="teamlist?.length > 0">
        <div class="col-lg-4 col-md-6" *ngFor="let item of teamlist">
            <div class="teamlistprofilepadding">
                <div class="team card position-relative overflow-hidden border-0 mb-4">
                    <div class="text-center p-0">
                        <img class="card-img-top-default-team" *ngIf="item.img" src="{{'../../assets/teamimg/'+ item.img}}"  alt="">
                    </div>
                    <div class="card-body text-center p-0">
                        <div class="flex-column justify-content-center bg-light">
                            <h5>{{item.fullname}}</h5>
                            <span class="d-block">{{item.title}}</span>
                            <span *ngIf="item.location" class="d-block">{{item.location}}</span>
                        </div>
                        <div class="flex-column justify-content-center bg-light">
                            <a class="font-weight-bold hyperlink-text linkcursor linkcolor" (click)="gotofullteamprofile(item.id)">Full Bio</a>
                        </div>
                        <div class=" align-items-center justify-content-center bg-light">
                            <a *ngIf="item.twitter" class="btn btn-outline-primary rounded-circle text-center mr-2 px-0" style="width: 36px; height: 36px;" (click)="gettwitterbyindex(item.twitter)"><fa-icon [icon]="['fab', 'twitter']"></fa-icon></a>
                            <a *ngIf="item.website" class="btn btn-outline-primary rounded-circle text-center mr-2 px-0" style="width: 36px; height: 36px;" (click)="getwebpagebyindex(item.website)"><fa-icon [icon]="['fas', 'globe']"></fa-icon></a>
                            <a *ngIf="item.email" class="btn btn-outline-primary rounded-circle text-center mr-2 px-0" style="width: 36px; height: 36px;" (click)="sendemail(item.email,item.fullname)"><fa-icon [icon]="['fas', 'envelope']"></fa-icon></a>
                            <!-- <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0" style="width: 36px; height: 36px;" href="#"><fa-icon [icon]="['fab', 'linkedin']"></fa-icon></a> -->
                            <!-- <a class="btn btn-outline-primary rounded-circle text-center px-0" style="width: 36px; height: 36px;" href="#"><fa-icon [icon]="['fab', 'instagram']"></fa-icon></a> -->
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>