<div class="container pt-5">
    <div class="d-flex flex-column text-center mb-5 pt-5">
        <h1 class="display-4 m-0"><span class="">Our Mathematical World Books</span></h1>
        <!-- <h1 class="display-4 m-0"><span class=""></span></h1> -->
    </div>
    <div class="buttontogglelayout">
        <mat-button-toggle-group name="languagetoggle" (change)="onLanguageChange($event.value)" [value]="selectedLanguageType" aria-label="Language">
            <mat-button-toggle value="eng">English</mat-button-toggle>
            <mat-button-toggle value="sp">Spanish</mat-button-toggle>
          </mat-button-toggle-group>
    </div>
    <app-books-list [booklist]="booklist"></app-books-list>
</div>