
    <!-- Team Start -->
    <div class="container mt-5 pt-5 pb-3">
        <div class="d-flex flex-column text-center mb-5">
            <h1 class="display-4 m-0">Meet Our Team Members</h1>
        </div>
        <app-team-list [teamTypeName]="'Collaborative Partners'" [teamlist]="dpteamlist" ></app-team-list>
        <app-team-list [teamTypeName]="'Research & Development'" [teamlist]="randdteamlist" ></app-team-list>
        <app-team-list [teamTypeName]="'Former Collaborative Partners'" [teamlist]="formerdpteamlist" ></app-team-list>
        <app-team-list [teamTypeName]="'Former Research & Development'" [teamlist]="fromerranddteamlist" ></app-team-list>
    </div>
    <!-- Team End -->