<div class="container " *ngIf="biosprofile">
    <div class="row biosprofile">
      <div class="col yellowbg">
        <h3 class="text-15 paddingtitle">OURMATHWORLD.COM</h3>
        <p class="whitetext text-30">{{biosprofile.jobtitle}}</p>
      </div>
      <div class="col-md-7 col-sm-12">
        <div class="row">
            <div class="col">
                <div >
                    <img class="profile-logo-image" src="'../../../../assets/OurMathWorld.png" alt="">
                </div>
            </div>
            <div class="col-md-8 col-sm-12">
                <div class="job-titles paddingtitle"> 
                    <span *ngFor="let job of biosprofile.jobs"> 
                        | {{job}}
                    </span>|
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h1 class="display-4 m-0"><span class="text-primary">{{biosprofile.fullname}}</span></h1>
            </div>
        </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-12 darkbg whitetext text-30 mathheromargin">
        <p>"{{biosprofile.quote}}"</p>
      </div>
      <div class="col-md-5 col-sm-12 bio-profile-img-div">
        <img class="bio-profile-img " src="{{'../../../../assets/bioimg/'+ biosprofile.profileimage}}" alt="">
      </div>
      <div class="col yellowbg text-20 shrinkrightmargin">
        <p>Pronunciation: {{'{'}}{{biosprofile.pronunciation}}{{'}'}}</p>
        <p class="lifetext" *ngIf="biosprofile.life">Life: {{biosprofile.life}}</p>
        <p class="othertext" *ngIf="biosprofile.location">Location: {{biosprofile.location}}</p>
        <p class="othertext" *ngIf="biosprofile.knownfor">Known For: {{biosprofile.knownfor}}</p>
      </div>
    </div>
    
    <div class="row">
        <div class="col yellowbg mathheromargin">
          <h1 class="whitetext text-35">MATH HERO</h1>
          
          <p class="">{{biosprofile.mathhero}}</p>
          
          <ul class="bulletlinks">
              <li *ngFor="let link of biosprofile.mathherobullet; let i = index">
                <html [html]="link"></html>
              </li>
          </ul>
          
          <p class="" *ngIf="biosprofile.funfact">Fun Fact: {{biosprofile.funfact}}</p>
          <div class="col bio-profile-img-div" *ngIf="biosprofile.profileimage2">
            <img class="bio-profile-img " src="{{'../../../../assets/bioimg/'+ biosprofile.profileimage2}}" alt="">
          </div>

        </div>
        <div class="col-md-7 col-sm-12">
          
          <h1 class="display-4 m-0"><span class="text-primary text-35">{{biosprofile.jobdescription}}</span></h1>
          
          <ul class="bulletlinks text-20">
            <li *ngFor="let description of biosprofile.jobdescriptionbullets">
              <html [html]="description"></html>
            </li>
          </ul>
          <h2 class="m-0"><span class="text-primary job-reference">REFERENCES</span></h2>

          <ul class="bulletlinks ">
            <li *ngFor="let reference of biosprofile.references; let i = index">
              {{reference}}.
            </li>
          </ul>
        </div>
      </div>
  </div>