<!-- <ngb-carousel *ngIf="images?.length > 0">
  <ng-template ngbSlide>
    <div class="wrapper">
      <img [src]="images[0]" alt="Book Cover">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="wrapper">
      <img [src]="images[1]" alt="Book Drawing">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="wrapper">
      <img [src]="images[2]"  alt="Students at Desk">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="wrapper">
      <img [src]="images[3]"  alt="Student at Desk">
    </div>
  </ng-template>
</ngb-carousel> -->
<div >
  <img src="../assets/landingpage/book1cover.jpg" alt="Book Cover">
</div>
    <!-- About Start -->
    <div class="container py-5">
      <div class="row py-5">
          <div class="">
              <h1 class="display-4 mb-4 titlecenter">Our Mathematical World</h1>
              <h4 class="text-secondary mb-3 titlecenter">Building Children's Identity  & Agency in Math</h4>
              <p class="mb-4">We believe all children are capable "math doers". However, there is often a lack of representation and a lack of belief in the strengths, skills, and experiences that children bring. As a consequence, children can experience math as boring or too difficult.</p>
              <p class="mb-4">What if we switched our focus to what students know and bring to school? What if we taught students about math in their communities and the representative history of math? What if we strengthened the precursory skills that we know are necessary for math achievement (working memory, inhibition, persistence, etc.) What if we helped children understand their strengths and build their identity and agency as "math doers"? Rather than asking students to leave parts of themselves out of the math classroom, we invite the whole child into school and make high-level math learning skills part of their personal narrative. We encourage marginalized students to engage with math in ways that are congruent with knowledge sharing in their communities.</p>
              <!-- <ul class="list-inline">
                  <li><h5><i class="fa fa-check-double text-secondary mr-3"></i>Best In Industry</h5></li>
                  <li><h5><i class="fa fa-check-double text-secondary mr-3"></i>Emergency Services</h5></li>
                  <li><h5><i class="fa fa-check-double text-secondary mr-3"></i>24/7 Customer Support</h5></li>
              </ul> -->
              <a href="" class="btn btn-lg btn-primary mt-3 px-4">Learn More</a>
          </div>
          <!-- <div class="col-lg-5">
              <div class="row px-3">
                  <div class="col-12 p-0">
                      <img class="img-fluid w-100" src="../../assets/about-1.jpg" alt="">
                  </div>  
                  <div class="col-6 p-0">
                      <img class="img-fluid w-100" src="../../assets/about-2.jpg" alt="">
                  </div>
                  <div class="col-6 p-0">
                      <img class="img-fluid w-100" src="../../assets/about-3.jpg" alt="">
                  </div>
              </div>
          </div> -->
      </div>
  </div>
  <!-- About End -->


  
    <!-- Back to Top -->
    <!-- <a href="#" class="btn btn-lg btn-primary back-to-top"> <fa-icon [icon]="['fab', 'fa-angle-double-up']"></fa-icon></a> -->
